$mainFontFamily:'Montserrat',
sans-serif;
$SecondFontFamily:'Dancing Script',
cursive;

//global colors
$MainBackgroundColor: rgb(233, 233, 233);
$WrapperBackgroundColor:#fff;
$BoxShadowColor:#000;
$BackgroundShadowColor:rgba(0, 0, 0, .35);
$BackgroundColorSearch: rgba(255, 255, 255, .85);
$BorderBottomColor:rgb(226, 226, 226)